

NODE_ENV=production


JWT_SECRET=b0ffff3c2299551401bdfcf35ea9be8283c0aab612cc0241c5d813e4f0f2a393


DATABASE_URL=postgresql://neondb_owner:npg_nSRb83caEtev@ep-ancient-tree-aooixo0b-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


